@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

        *  {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Quicksand', sans-serif;
        }

        /* Shared styles */
        .display-flex {
            display: flex;
        }

        .skyBlue {
            color: #01ACFD;
        }

        .Orange {
            color: #FEA301;
        }

        .Black {
            color: black;
        }

        main {
            max-width: 1440px;
            margin: 0 auto;
            background-image: url("assets/bg.png");
        }

        .text-center{
            text-align: center;
        }

        /* Header styles */
        .navbar {
            justify-content: space-between;
            align-items: center;
            padding: 20px 140px;
            /* border-bottom: 2px solid #FEA301; */
        }

        .navbar, .banner {
            max-width: 1440px;
            margin: 0 auto;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            height: 40px;
            margin-right: 10px;
        }

        .school {
            font-weight: 700;
            font-size: 2rem;
            color: #000;
        }

        .nav-links {
            display: flex;
            gap: 20px;
        }

        .nav-item {
            list-style: none;
            margin-right: 32px;
        }

        .nav-link {
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s;
        }

        .nav-link:hover {
            color: #f3a622;
        }

        .home {
            font-weight: 700;
            color: #FEA301;
        }

        .facilities-color {
            color: rgba(5, 212, 223, 1);
        }

        .admission-color {
            color: rgba(93, 88, 239, 1);
        }

        .contact-btn {
            padding: 10px 60px;
            background-color: #FEA301;
            color: #FFFFFF;
            border: none;
            border-radius: 12px;
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: 600;
            
        }

        .contact-btn:hover {
            background-color: #e69519;
        }

        .menu-icon {
            display: none;
            flex-direction: column;
            gap: 5px;
        }

        .menu-icon div {
            width: 25px;
            height: 3px;
            background-color: #000;
        }

        /* Banner styles */
        .banner {
            
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            max-width: 1220px;
            margin: 0 auto;
        }

        .banner-content {
            max-width: 640px;
           
        }

        .banner-title {
            font-weight: 700;
            font-size: 3.5rem;
        }

        

        .banner-description {
            margin: 24px 0;
            font-size: 1.25rem;
        
        }

        .enroll-btn {
            margin-top: 24px 0px;
            padding: 10px 47px;
            background-color: #111111;
            color: white;
            border: none;
            border-radius: 12px;
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: 700;
        }

        .banner-image{
            width: 100%;
            height: 575px;
            width: 468.61px;
            
        }

        /*  Main related styles */

        /* standard curriculum style */
        .curriculum{
            text-align: center;
        }
        .curriculum-title{
            font-weight: 700;
            font-size: 2.875rem;
            margin: 60px 0;
            
        }
        .card-img{
           margin-bottom: 20px;

        }
        .card-container{
            display: flex;
            gap: 29px;
            margin: 140px;
            justify-content: space-between;
            
        }
        .card{
            padding: 30px;
            background-color: rgba(222, 245, 255, 1);
            border-radius: 19px;
            height: 476.78;
            width: 367.8;
            text-align: center;
        }
        .card-1 {
            background-color: rgba(222, 245, 255, 1);
        }

        .card-2 {
            background-color: rgba(255, 244, 220, 1);
        }

        .card-3 {
            background-color: rgba(242, 232, 255, 1);
        }
        
        .card-title{
            color: rgba(32, 32, 32, 1);
            font-size: 1.5625rem;
            font-weight: 700;
            margin: 32px 37px;

        }
        .curriculum-description{
           color: rgba(128, 128, 128, 1);
           font-size: 0.9375rem;
           font-weight: 600;
           margin: 15px 0;
           
        }
        .more {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }
        .card-1 .more {
            color: rgba(100, 200, 255, 1);
        }

        .card-2 .more {
            color: rgba(240, 170, 0, 1);
        }

        .card-3 .more {
            color: rgba(135, 0, 255, 1);
        }

        /* Our Stories related styles */
        .our-stories {
            padding: 190px 140px;
            
          }
          
          .section-title {
            font-weight: 700;
            font-size: 2.875rem;
            color:rgba(0, 0, 0, 1);
            margin-bottom: 80px; 
            text-align: center;
          }
          
          .story-card {
             margin-bottom: 40px;
          }
          
          .story-image{
            width: 300px; 
            margin-right: 30px;
          }
          .container{
            display: flex;
            gap: 18px;
          }
          
          .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 19px; 
          }

          .story-card{
            margin-bottom: 40px;
            height: 630.52px;
            background-color: white;
          }

          .story-image_0{
            width: 540px;
            border-radius: 20px;
          }
          .story-image{
            width: 300px; 
            margin-right: 30px;
          }

          .story-description{
            font-weight: 600;
            font-size: 1rem;
            color: rgba(102, 102, 102, 1);
            margin: 47px 30px 34px 38px;
          }

          .story-heading{
            font-weight: 700;
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 1);
            margin: 47px 99px 47px 38px;
        
          }

          .story-item-heading{
            font-weight: 700;
            font-size: 0.95875rem;
            margin: 43px 55px 34px 38px;
            color: rgba(0, 0, 0, 1);
          }



          /* Footer related problem */

          .footer-container{
            display: flex;
            justify-content: space-around;
            padding: 123px 228px 174px 140px;
            width: 1798px;
            background-color: rgba(1, 172, 253, 1);
            color: white;
          }
          .footer-container {
            display: flex;
            justify-content: space-between;
            margin: auto;
           
        }
        .footer-column ul li a {
            color: white;
            text-decoration: none;
            font-size: 1.25rem;
            
        }
        .footer-column ul li {
            list-style: none;
        }

        .logo{
           height: 81.65px;
           width: 82.9px;
           color: white;
        }
        .social-icons{
            margin-top: 16px;
        }
            
        
          
       
         
          

          
          




         
          
          
         
        

        


     